<div class="section no-pad-bot cover red" id="index-banner">
    <br/>
    <br/>
        <h1 class="header center white-text">Starter Template</h1>
        <div class="row center white-text">
            <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
            <h6 class="header col s12 light">Tested with Ruby 2.4.1 and Rails 5.0</h6>
        </div>
        <div class="row center">
            <a class="btn-large waves-effect waves-light orange" href="/parts" id="download-button">Get Started</a>
        </div>
    <br/>
    <br/>
</div>

<div class="section container">
   <!--Icon Section-->
   <div class="row">
      <div class="col s12 m4">
         <div class="icon-block">
            <h2 class="center light-blue-text">
               <i class="material-icons">flash_on</i>
            </h2>
            <h5 class="center">Speeds up development </h5>
            <p class="light">We did most of the heavy lifting for you to provide a default s
               tylings that incorporate our custom components. Additionally, we refined animati
               ons and transitions to provide a smoother experience for developers.
            </p>
         </div>
      </div>
      <div class="col s12 m4">
         <div class="icon-block">
            <h2 class="center light-blue-text">
               <i class="material-icons">group</i>
            </h2>
            <h5 class="center">User Experience Focused</h5>
            <p class="light">By utilizing elements and principles of Material Design, we wer
               e able to create a framework that incorporates components and animations that pr
               ovide more feedback to users. Additionally, a single underlying responsive syste
               m across all platforms allow for a more unified user experience.
            </p>
         </div>
      </div>
      <div class="col s12 m4">
         <div class="icon-block">
            <h2 class="center light-blue-text">
               <i class="material-icons">settings</i>
            </h2>
            <h5 class="center">Easy to work with</h5>
            <p class="light">We have provided detailed documentation as well as specific cod
               e examples to help new users get started. We are also always open to feedback an
               d can answer any questions a user may have about Materialize.
            </p>
         </div>
      </div>
   </div>
</div>