<h3>Badges</h3>

<h5>Badges</h5>
<div class="collection">
   <a class="collection-item" href="#!">
   <span class="badge">1</span>
   Alan
   </a><a class="collection-item" href="#!">
   <span class="new badge">4</span>
   Alan
   </a><a class="collection-item" href="#!"> Alan</a>
   <a class="collection-item" href="#!">
   <span class="badge">14</span>
   Alan
   </a>
</div>
<br/>
<h5>Badges in Dropdown</h5>
<ul class="dropdown-content" id="dropdown2">
   <li>
      <a href="#!">
      one
      <span class="badge">1</span>
      </a>
   </li>
   <li>
      <a href="#!">
      two
      <span class="new badge">1</span>
      </a>
   </li>
   <li>
      <a href="#!"> three</a>
   </li>
</ul>
<a class="btn dropdown-button" data-activates="dropdown2" href="#!">
Dropdown
<i class="mdi-navigation-arrow-drop-down right">
</i></a><br />
<br />
<h5>Badges in Collapsibles</h5>
<ul class="collapsible" data-collapsible="accordion">
   <li>
      <div class="collapsible-header">
         <span class="new badge">4</span>
         <i class="material-icons">filter_drama</i>
         <span>First</span>
      </div>
      <div class="collapsible-body">
         <p>Lorem ipsum dolor sit amet.</p>
      </div>
   </li>
   <li>
      <div class="collapsible-header">
         <span class="badge">1</span>
         <i class="material-icons">place</i>
         <span>Second</span>
      </div>
      <div class="collapsible-body">
         <p>Lorem ipsum dolor sit amet.</p>
      </div>
   </li>
</ul>