<h5>Breadcrumbs</h5>
<nav>
   <div class="nav-wrapper">
      <div class="col s12">
         <a class="breadcrumb" href="#!"> First</a>
         <a class="breadcrumb" href="#!"> Second</a>
         <a class="breadcrumb" href="#!"> Third</a>
      </div>
   </div>
</nav>