<h3>Buttons</h3>
<h5>Raised</h5>
<a class="waves-effect waves-light btn">button</a>
<a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>button</a>
<a class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>button</a><br/>

<h5>Floating</h5>
<a class="btn-floating btn-large waves-effect waves-light red">
    <i class="material-icons">add</i>
</a>
<div class="fixed-action-btn" style="right: 90px">
   <a class="btn-floating btn-large red">
      <i class="large material-icons">mode_edit</i>
   </a>
   <ul>
      <li>
         <a class="btn-floating red"><i class="material-icons">insert_chart</i></a>
      </li>
      <li>
         <a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a>
      </li>
      <li>
         <a class="btn-floating green"><i class="material-icons">publish</i></a>
      </li>
      <li>
         <a class="btn-floating blue"><i class="material-icons">attach_file</i></a>
      </li>
   </ul>
</div>
<div class="fixed-action-btn horizontal" style="bottom: 90px">
   <a class="btn-floating btn-large red"><i class="large material-icons">mode_edit</i></a>
   <ul>
      <li>
         <a class="btn-floating red"><i class="material-icons">insert_chart</i></a>
      </li>
      <li>
         <a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a>
      </li>
      <li>
         <a class="btn-floating green"><i class="material-icons">publish</i></a>
      </li>
      <li>
         <a class="btn-floating blue"><i class="material-icons">attach_file</i></a>
      </li>
   </ul>
</div>
<div class="fixed-action-btn horizontal click-to-toggle" style="bottom: 160px">
   <a class="btn-floating btn-large red"><i class="material-icons">menu</i></a>
   <ul>
      <li>
         <a class="btn-floating red"><i class="material-icons">insert_chart</i></a>
      </li>
      <li>
         <a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a>
      </li>
      <li>
         <a class="btn-floating green"><i class="material-icons">publish</i></a>
      </li>
      <li>
         <a class="btn-floating blue"><i class="material-icons">attach_file</i>
         </a>
      </li>
   </ul>
</div>
<div class="fixed-action-btn toolbar">
   <a class="btn-floating btn-large red"><i class="large material-icons">mode_edit</i>
   </a>
   <ul>
      <li class="waves-effect waves-light">
         <a href="#!"><i class="material-icons">insert_chart</i></a>
      </li>
      <li class="waves-effect waves-light">
         <a href="#!"><i class="material-icons">format_quote</i></a>
      </li>
      <li class="waves-effect waves-light">
         <a href="#!"><i class="material-icons">publish</i></a>
      </li>
      <li class="waves-effect waves-light">
         <a href="#!"><i class="material-icons">attach_file</i></a>
      </li>
   </ul>
</div>
<h5>Flat</h5>
<a class="waves-effect waves-teal btn-flat">Button</a>

<h5>Submit Button</h5>
<button class="btn waves-effect waves-light" name="action" type="submit">Submit
    <i class="material-icons right">send</i>
</button>

<h5>Large</h5>
    <a class="waves-effect waves-light btn-large">Button</a>
    <a class="waves-effect waves-light btn-large">
        <i class="material-icons left">cloud</i>button
    </a>
    <a class="waves-effect waves-light btn-large">
    <i class="material-icons right">cloud</i>button</a>

<h5>Disabled</h5>

    <a class="btn-large disabled">Button</a>
    <a class="btn disabled">Button</a>
    <a class="btn-flat disabled">Button</a>
    <a class="btn-floating disabled"><i class="material-icons">add</i></a>