<h3>Modal</h3>
<!-- Only Modal2 is working -->

<button class="btn" data-target="modal1"> Modal 1</button>
<button class="btn" data-target="modal2"> Modal 2</button>
<button class="btn" data-target="modal3"> Modal 3</button>

<!--Modal Trigger-->
<a class="waves-effect waves-light btn" data-turbolinks="false" href="#modal1">Modal</a>

<!--Modal Structure-->
<div class="modal" id="modal1">
   <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
   </div>
   <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-green btn-flat" href="#!">Agree</a>
   </div>
</div>

<!--Modal Trigger-->
<a class="modal-trigger waves-effect waves-light btn" data-turbolinks="false" href="#modal2"> Modal</a>

<!--Modal Structure-->
<div class="modal modal-fixed-footer" id="modal2">
   <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
   </div>
   <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-green btn-flat" href="#!">Agree</a>
   </div>
</div>

<!--Modal Trigger-->
<a class="waves-effect waves-light btn" data-turbolinks="false" href="#modal3">Modal</a>

<!--Modal Structure-->
<div class="modal bottom-sheet" id="modal3">
   <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
   </div>
   <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-green btn-flat" href="#!">Agree</a>
   </div>
</div>