<h5>Variable Width Tabs
    <span>Default</span>
</h5>

<ul class="tabs tab-demo z-depth-1">
<li class="tab">
   <a href="#test-tabs16"> Test 1</a>
</li>
<li class="tab">
   <a class="active" href="#test-tabs17"> Test 2</a>
</li>
<li class="tab">
   <a href="#test-tabs18"> Test 3</a>
</li>
<li class="tab">
   <a href="#test-tabs19"> Test 4</a>
</li>
</ul>

<div class="col s12" id="test-tabs16">
    <p>Test 1</p>
</div>

<div class="col s12" id="test-tabs17">
    <p>Test 2</p>
</div>

<div class="col s12" id="test-tabs18">
    <p>Test 3</p>
</div>

<div class="col s12" id="test-tabs19">
    <p>Test 4</p>
</div>

<br/>

<h5>Fixed Width Tabs
    <span>
        Add the <code class="language-markup">.tabs-fixed-width</code> class
    </span>
</h5>

<ul class="tabs tabs-fixed-width tab-demo z-depth-1">
    <li class="tab">
        <a href="#test-tabs1"> Test 1</a>
    </li>
    <li class="tab">
        <a class="active" href="#test-tabs2"> Test 2</a>
    </li>
    <li class="tab disabled">
        <a href="#test-tabs3"> Disabled Tab</a>
    </li>
    <li class="tab">
        <a href="#test-tabs4"> Test 4</a>
    </li>
    <li class="tab">
        <a href="#test-tabs0"> Test 5</a>
    </li>
</ul>

<div class="col s12" id="test-tabs1">
    <p>Test 1</p>
</div>

<div class="col s12" id="test-tabs2">
    <p>Test 2</p>
</div>

<div class="col s12" id="test-tabs3">
    <p>Test 3</p>
</div>

<div class="col s12" id="test-tabs4">
    <p>Test 4</p>
</div>

<div class="col s12" id="test-tabs0">
    <p>Test 5</p>
</div>
<br/>

<h5>Scrollable Tabs<span>Tabs automatically become scrollable</span></h5>

<ul class="tabs tab-demo z-depth-1">
    <li class="tab">
    <a href="#test-tabs5"> Test 1</a>
    </li>
    <li class="tab">
    <a class="active" href="#test-tabs6"> Test 2</a>
    </li>
    <li class="tab">
    <a href="#test-tabs7"> Test 4</a>
    </li>
    <li class="tab">
    <a href="#test-tabs8"> Test 1</a>
    </li>
    <li class="tab">
    <a class="active" href="#test-tabs9"> Test 2</a>
    </li>
    <li class="tab disabled">
    <a href="#test-tabs10"> Disabled Tab</a>
    </li>
    <li class="tab">
    <a href="#test-tabs11"> Test 4</a>
    </li>
    <li class="tab">
    <a href="#test-tabs12"> Test 1</a>
    </li>
    <li class="tab">
    <a class="active" href="#test-tabs13"> Test 2</a>
    </li>
    <li class="tab col s3 disabled">
    <a href="#test-tabs14"> Disabled Tab</a>
    </li>
    <li class="tab col s3">
    <a href="#test-tabs15"> Test 4</a>
    </li>
</ul>

<div class="col s12" id="test-tabs5">
    <p>Test 5</p>
</div>

<div class="col s12" id="test-tabs6">
    <p>Test 6</p>
</div>

<div class="col s12" id="test-tabs7">
    <p>Test 7</p>
</div>

<div class="col s12" id="test-tabs8">
    <p>Test 8</p>
</div>

<div class="col s12" id="test-tabs9">
    <p>Test 9</p>
</div>

<div class="col s12" id="test-tabs10">
    <p>Test 10</p>
</div>

<div class="col s12" id="test-tabs11">
    <p>Test 11</p>
</div>

<div class="col s12" id="test-tabs12">
    <p>Test 12</p>
</div>

<div class="col s12" id="test-tabs13">
    <p>Test 13</p>
</div>

<div class="col s12" id="test-tabs14">
    <p>Test 14</p>
</div>

<div class="col s12" id="test-tabs15">
    <p>Test 15</p>
</div>