<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Yet another Materialize Theme</h5>
        <p class="grey-text text-lighten-4">A Materialize Theme that is written in HTML, CSS, and Ruby; Friendly to people that are new to coding.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://github.com/melvinchng/"><i class="fa fa-github"></i> Github</a></li>
          <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/realmelvinchng"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
          <li><a class="grey-text text-lighten-3" href="https://plus.google.com/+YiCongChng"><i class="fa fa-google-plus-official"></i> Google+</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright center">
    <div class="container">
    © <%= Time.current.year %> Melvin Ch'ng
    </div>
  </div>
</footer>