        <footer class="page-footer">
          <div class="footer-copyright">
            <div class="container">
              © <%= Time.current.year %> Melvin Ch'ng
              <div class="grey-text text-lighten-4 right footer-color">
                <a href="https://github.com/melvinchng/"><i class="fa fa-github"></i> Github</a>
                <a href="https://www.linkedin.com/in/realmelvinchng"><i class="fa fa-linkedin"></i> LinkedIn</a>
                <a href="https://plus.google.com/+YiCongChng"><i class="fa fa-google-plus-official" style="vertical-align: middle;"></i> Google+</a>
              </div>
            </div>
          </div>
        </footer>
            